{# templates/panier/commander.html.twig #}

{% extends 'baseadmin.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <h1>Confirmation de commande</h1>
    <p>Votre commande a été enregistrée.</p>
{% endblock %}
